    .py-xl {
    padding-block: var(--py-xl);
  }

  .py-lg {
    padding-block: var(--py-lg);
  }

  .py-md {
    padding-block: var(--py-md);
  }

  .py-sm {
    padding-block: var(--py-sm);
  }

  .desktop-only {
    display: none;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .grid-flow-col {
    grid-auto-flow: column;
  }

  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }
  
  .items-center {
    align-items: center;
  }
  
  .gap-0\.5 {
    gap: .5rem;
  }

  .gap-1 {
    gap: 1rem;
  }

  .gap-2 {
    gap: 2rem;
  }

  @media (width >= 80em) {
    .container {
      --max-width: 80rem; 
      --px-lg: 2rem;
    }
  
    .desktop-only {
      display: initial;
    }

    
  }
